# Get Old Tweets

In [1]:
import got3 as got
import sqlite3
import pandas as pd
import re
import datetime

`validate` function (for checking datetime format)

In [2]:
def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%Y-%m-%d')
    except ValueError:
        raise ValueError("Incorrect data format, should be YYYY-MM-DD")

`project_setup` function

In [18]:
def project_setup():
    projname = input("Project name? ")
    global dbname
    dbname = (projname + ".db")
    
    print("Searches can by done by search term(s), by username(s), or by both in combination")
    
    # QUERYSEARCH
    print("")
    print("Search terms, one or several separated by comma")
    print("Leave empty to only search by username")
    global keywords
    keywords = ""
    keywords = input('e.g. monkey,"time for bananas",#ape2020,"donkey kong": ')
    
    # USERNAMES
    print("")
    print("Usernames, one or several separated by space")
    print("Leave empty to only search by terms")
    global usernames
    usernames = ""
    usernames = input('e.g. @nintendo @jupyter: ')
    usernames = [un for un in usernames.split()]
    
    # DATES
    print("")
    print("Enter date range for search in YYYY-NN-DD format")
    global since
    since = (input("start date UTC (included in search): "))
    validate(since)
    global until
    until = (input("end date UTC (excluded from search): "))
    validate(until)
    
    # TOPTWEETS
    print("")
    print("Do you want to get only the Top Tweets?")
    global toptweets
    top_t = input("y/n? ")
    if top_t == "y":
        toptweets = True
    else:
        toptweets = False
    
    #MAXTWEETS
    print("")
    print("\nEnter maximum number of tweets to get per keyword, or set 0 to get all possible tweets")
    global maxtweets
    maxtweets = (input("max tweets "))
    if maxtweets.isnumeric():
        maxtweets = int(maxtweets)
        pass
    else:
        print("You did not enter a numeric value")
        sys.exit()

`create_database` function

In [4]:
def create_database():
    try:
        conn = sqlite3.connect(dbname)
        c = conn.cursor()
        c.execute("""CREATE TABLE tweets (
        tweet_id TEXT,
        author TEXT,
        in_reply_to TEXT,
        tweet TEXT,
        date TEXT,
        retweets INT,
        favourites INT,
        mentions TEXT,
        hashtags TEXT,
        geo TEXT)
        """)
        conn.close()
    except:
        print("A database with this name already exists")
        sys.exit()

`run_search` function

In [27]:
def run_search():
    
    for kw in keywords.split(","):
        
        conn = sqlite3.connect(dbname)
    
        tweetCriteria = got.manager.TweetCriteria()

        # Set the search parameters that we always set       
        tweetCriteria.setMaxTweets(maxtweets)
        tweetCriteria.setSince(since)
        tweetCriteria.setUntil(until)
        tweetCriteria.setTopTweets(toptweets)
        tweetCriteria.setEmoji("unicode")

        if len(keywords) != 0:
            tweetCriteria.setQuerySearch(kw)
        if len(usernames) != 0:
            tweetCriteria.setUsername(usernames)
        

        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        for t in tweets:
            tweet_id = t.id
            author = t.username
            in_reply_to = t.to
            tweet = t.text
            date = t.date
            retweets = t.retweets
            favourites = t.favorites
            mentions = t.mentions
            hashtags = t.hashtags
            geo = t.geo
            
            
            conn.execute('INSERT INTO tweets (tweet_id, author, in_reply_to, tweet, date, retweets, favourites, mentions, hashtags,geo) VALUES (?,?,?,?,?,?,?,?,?,?)',\
                         (tweet_id, author, in_reply_to, tweet, date, retweets, favourites, mentions, hashtags, geo))
            conn.commit()

`remove_duplicates` function

In [6]:
def remove_duplicates():

    conn = sqlite3.connect(dbname)
    cur = conn.cursor()
    cur.execute("CREATE TABLE temp_table as SELECT DISTINCT * FROM tweets")
    cur.execute("DELETE from tweets")
    conn.commit()

    cur.execute("INSERT INTO tweets SELECT * FROM temp_table")
    cur.execute("DELETE from temp_table")
    conn.commit()

`preview_data` function

In [7]:
def preview_data():
    conn = sqlite3.connect(dbname)
    df = pd.read_sql_query("SELECT * FROM tweets", conn)
    print(df.head(20))

In [23]:
def main():
    project_setup()
    create_database()
    run_search()
    remove_duplicates()
    #preview_data()

In [28]:
main()

Project name?  asfj0j√•4

Searches can by done by search term(s), by username(s), or by both in combination

Search terms, one or several separated by comma
Leave empty to only search by username

e.g. monkey,"time for bananas",#ape2020,"donkey kong":  monkey,"love this",#metoo

Usernames, one or several separated by space
Leave empty to only search by terms

e.g. @nintendo @jupyter:

Enter date range for search in YYYY-NN-DD format

start date UTC (included in search):  2015-01-01
end date UTC (excluded from search):  2020-01-01

Do you want to get only the Top Tweets?

y/n?  y

Enter maximum number of tweets to get per keyword, or set 0 to get all possible tweets

max tweets  10

               tweet_id          author      in_reply_to  \
0   1212159343929393152   VickieLFisher  VictorF05184461
1   1212158659565932551     homechekker     TheJasonPugh
2   1212155716670234626     ultimatejjp             None
3   1212155477817094146   SinbadTattCat             None
4   1212154384349646850    Monkey_Pants             None
5   1212153904525455360     sams_monkey             None
6   1212150199814098945      wildstersx             None
7   1212149867276980224     PostCultRev             None
8   1212149077137215488  claricecsorcha             None
9   1212146709507084288     evangerules             None
10  1212161306683305984       ElyseFitz             None
11  1212160838414618625    iamwillsteel             None
12  1212160705601904640     DEEJAYGARNA             None
13  1212160283118096384   thewritertype             None
14  1212160206718865414    badniggafela             None
15  1212159827008339969  lizzysawrusrex             None
16  1212159564629630976  KSUWindbreaker             None
17  1212159423206084610  TripleBRecords             None
18  1212159211414736896    JeffStelling    Official_HUFC
19  1212158986188775425   Airwrecka_fit             None

                                                tweet  \
0   Schiff Waters & Sp Pelosi too busy with Monkey...
1   essentially admits CPC is so bankrupt of ideas...
2   bruh. look at him jumpin around like a cute li...
3   Chunky Monkey after a hard day catting ~ @Feli...
4   So it turns out that the terrace of the Hyatt ...
5   Monkey at the beginning and end of the decade....
6                                          my monkey
7   My 2020 energy is to become an organ grinder w...
8   Man, this whole thing really be like, Fans: WE...
9   In this decade Monkey &amp; Lulu were born int...
10  I love after-Christmas presents...Don‚Äôt you? A...
11  THIS YEAR YOU WILL GET A JOB THIS YEAR YOU WIL...
12  Bare surprises tomorrow... see you next year.....
13  I love this time of year, just before the future.
14  Mum just entered room and started praying for ...
15                           I love this cartoonist!
16  I love this coaching staff but WHY IN THE EVER...
17            Love this graphic of our 2019 releases
18  Thanks to our amazing fans who keep turning ou...
19  I love this man. Happy to start another year w...

                         date  retweets  favourites  \
0   2019-12-31 23:51:23+00:00         6          35
1   2019-12-31 23:48:39+00:00         4          12
2   2019-12-31 23:36:58+00:00        11          25
3   2019-12-31 23:36:01+00:00         3          59
4   2019-12-31 23:31:40+00:00         2          52
5   2019-12-31 23:29:46+00:00        38         167
6   2019-12-31 23:15:02+00:00         2           8
7   2019-12-31 23:13:43+00:00        24         108
8   2019-12-31 23:10:35+00:00        20          91
9   2019-12-31 23:01:10+00:00         0          25
10  2019-12-31 23:59:11+00:00         1          58
11  2019-12-31 23:57:19+00:00        41          91
12  2019-12-31 23:56:47+00:00         8          14
13  2019-12-31 23:55:07+00:00        13          48
14  2019-12-31 23:54:48+00:00        12         113
15  2019-12-31 23:53:18+00:00        12          46
16  2019-12-31 23:52:15+00:00        21         269
17  2019-12-31 23:51:41+00:00        32         169
18  2019-12-31 23:50:51+00:00        20         259
19  2019-12-31 23:49:57+00:00         2          39

                                             mentions  \
0
1
2
3                                    @FelineChairThi1
4
5
6
7
8
9
10
11
12  @dj_slimzee @slimzosrecs @rotpotrecords @2002R...
13
14
15
16
17
18
19

                          hashtags geo
0
1
2
3
4
5         #10YearChallenge #sepsis
6
7
8
9
10
11  #HAPPYNEWYEAR2020 #2020NewYear
12
13
14
15
16
17
18
19